body{
	background-image: url("../img/hihi.jpg");
	background-size: 100%;

}

#H1{
	width: 100%;
	}

#H11{
	background: -webkit-linear-gradient(rgb(6,105,179),rgb(62,169,249),rgb(140,204,251));
	width: 100%;
	height: 250px;
	text-align: center;
	font:italic bold	small-caps 15px jokerman;
	border-style: solid;
	border-color: black;
	text-shadow: grey 0.5em 0.5em 0.3em;
}
 

#H111{
	position: absolute;
	margin-top: 25px;
}

#H112{
	font-family: "kristen itc";
}

#H115{
	position:absolute;
	width: 200px;
	height: 186px;
	background-image: url("../img/Haha.png");
	background-size: 200px 186px;
	top: 10px;
	right: 20px;
	margin-top: 25px;
	box-shadow: black 0.5em 0.5em 0.3em;
	-webkit-border-radius:20px;	
	
}

#H12{
	background: -webkit-linear-gradient(left,rgb(82,88,88),rgb(154,162,163)); 
	height:400px;
	width:15%;
	float:left;
	text-align: center;
	text-transform: uppercase;
	border-bottom: solid black;
	border-right: solid black;
	border-left: solid black;
}

#H121{
	margin-top: 0px;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	background: -webkit-linear-gradient(right,rgb(55,128,86),rgb(83,181,124),rgb(55,128,86));
	padding: 10px;
	border-bottom: solid black;
}

.H122:link{
	background: rgb(50,114,80);
	padding: 5px 5px;
	border: solid 3px black;
	border-radius: 1em;
	box-shadow: black 0.5em 0.5em 0.3em;
	font-style: none;
	
}

.H122:hover{
	color: red;
	cursor: pointer;

}

#H13{
	background-color:#eee; 
	height:400px;
	width: 65%;
	margin-right: 0px;
	float:left;
	border-bottom: solid black;
	padding: 10px 20px;
	font-family: "comic sans ms";
	background-color: rgb(146,217,138);
}

#H131{
	border:solid black;
	margin-right: 50px;
	padding: 10px 10px;
	background-color: rgb(10,140,53);
}

#H14{
	background: -webkit-linear-gradient(right,rgb(82,88,88),rgb(154,162,163)); 
	height:400px;
	width:20%;
	float:right;
	position: absolute;
	right: 2px;
	border-bottom: solid black;
	border-right: solid black; 
	border-left: solid black;

}

#H141{
	text-transform: uppercase;
	text-align: center;
	margin-top: 0px;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	background: -webkit-linear-gradient(right,rgb(55,128,86),rgb(83,181,124),rgb(55,128,86));
	padding: 10px;
	border-bottom: solid black;

}

.H142{
	width: 50px;
	vertical-align: middle;

}

#H15{
	background: -webkit-linear-gradient(rgb(6,105,179),rgb(62,169,249),rgb(140,204,251));
	border: solid;
	font-family: "comic sans";
	font-size: 12pt;
	position: relative;
	width: 100%;
	top: 400px;
	height: 70px;

}
